WACertifivados/Connected Services/ServiceReference1/CertificadoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CertificadoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55940/AppCode/Servicio/CertificadoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55940/AppCode/Servicio/CertificadoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICertificadoService_GenerarCertificadoYClave_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarCertificadoYClave" />
  </wsdl:message>
  <wsdl:message name="ICertificadoService_GenerarCertificadoYClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarCertificadoYClaveResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificadoService_GenerarCertificadoYClave2_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarCertificadoYClave2" />
  </wsdl:message>
  <wsdl:message name="ICertificadoService_GenerarCertificadoYClave2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarCertificadoYClave2Response" />
  </wsdl:message>
  <wsdl:portType name="ICertificadoService">
    <wsdl:operation name="GenerarCertificadoYClave">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificadoService/GenerarCertificadoYClave" message="tns:ICertificadoService_GenerarCertificadoYClave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificadoService/GenerarCertificadoYClaveResponse" message="tns:ICertificadoService_GenerarCertificadoYClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarCertificadoYClave2">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificadoService/GenerarCertificadoYClave2" message="tns:ICertificadoService_GenerarCertificadoYClave2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificadoService/GenerarCertificadoYClave2Response" message="tns:ICertificadoService_GenerarCertificadoYClave2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICertificadoService" type="tns:ICertificadoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarCertificadoYClave">
      <soap:operation soapAction="http://tempuri.org/ICertificadoService/GenerarCertificadoYClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarCertificadoYClave2">
      <soap:operation soapAction="http://tempuri.org/ICertificadoService/GenerarCertificadoYClave2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CertificadoService">
    <wsdl:port name="BasicHttpBinding_ICertificadoService" binding="tns:BasicHttpBinding_ICertificadoService">
      <soap:address location="http://localhost:55940/AppCode/Servicio/CertificadoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>